{% load static %}
<html lang="en">
  <head>
    <title>Elixir Web | 505 - Internal Server Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'images/favicon.png'  %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="screen"/>
  </head>
  <body>
     <div class="main-container d-flex justify-content-center align-items-center">
      <div class="page-error">

        <div class="row" align="center">
            <div class="col-lg-3"></div>
            <div class="col-lg-2">
                <img style="height: 150px" src="{% static 'images/logo.png' %}">
            </div>
            <div class="col-lg-2">
                <img style="height: 60px; margin-top:50px; margin-left:10px"
                     src="{% static 'images/cts_logo.png' %}">
            </div>
            <div class="col-lg-5"></div>
        </div>

        <div class="error-code">
          500
        </div>
        <h1>Internal Server Error</h1>

        <p class="text-muted mb-5">
          Something's gone wrong on our side.
        </p>

        <a href="/accounts/login/" class="btn btn-primary">Go back to Login</a>
      </div>
    </div>
  </body>
</html>