{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Elixir Web | My Tasks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png'  %}" type="image/png">
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="screen"/>

</head>
<body onload="hide_message()">
<div class="main-container">
    <nav class="navbar navbar-expand justify-content-between fixed-top">
        <a class="navbar-brand mb-0 h1 d-none d-md-block" href="/dashboard/">
            <img src="{% static 'images/logo.png' %}" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
            <small>Elixir <small>v3.0.1</small></small>
        </a>

        <a class="navbar-brand mb-0 h1 d-none d-md-block">
            <img src="{% static 'images/newcts.png' %}" class="pb-2">
        </a>

        <div class="d-flex flex-1 d-block d-md-none">
            <a href="#" class="sidebar-toggle ml-3">
                <i data-feather="menu"></i>
            </a>
        </div>

        <ul class="navbar-nav d-flex justify-content-end mr-2">
            <li class="sidebar-nav-item mt-1">
                <a class="sidebar-nav-link">
                  <span class="sidebar-nav-name">
                    <b style="font-family: Arial Rounded MT">{{ user.first_name }} {{ user.last_name }}</b>
                  </span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
                    <img src="{% static 'images/user_icon.png' %}" class="d-inline-block align-top" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    {% if user.email != 'agent' %}
                    <a class="dropdown-item text-danger" href="/version_history/">Version History</a>
                    {% endif %}
                    <a class="dropdown-item text-danger" href="/account/logout/">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- expand-hover push -->
    <!-- Sidebar -->
    <div class="main-sidebar expand-hover push">
        <ul class="sidebar-nav">

            <!-- Dashboard -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="home"></i>
              </span>
                    <span class="sidebar-nav-name">
                Dashboard
              </span>
                    <span class="sidebar-nav-end">
              </span>
                </a>
            </li>

            <!-- Reporting -->
            {% if user.email != 'agent' %}
            <li class="sidebar-nav-item">
                <a href="/dashboard/reporting/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="airplay"></i>
              </span>
                    <span class="sidebar-nav-name">
                Reporting
              </span>
                    <span class="sidebar-nav-end">
              </span>
                </a>
            </li>
            {% endif %}

            <!-- My Task -->
            {% if user.email == 'agent' or user.email == 'superuser' %}
            <li class="sidebar-nav-item">
                <a class="sidebar-nav-link active" data-toggle="collapse" href="#mytask" aria-expanded="false"
                   aria-controls="example">
                    <span class="sidebar-nav-icon">
                        <i data-feather="grid"></i>
                    </span>
                    <span class="sidebar-nav-name">
                        My Tasks
                    </span>
                    <span class="sidebar-nav-end">
                            <i data-feather="chevrons-right" class="nav-collapse-icon"></i>
                    </span>
                </a>

                <ul class="sidebar-sub-nav" id="mytask">
                    <li class="sidebar-nav-item">
                        <a href="/dashboard/mytasks_up_kc/" class="sidebar-nav-link">
                            <span class="sidebar-nav-icon">
                                <i data-feather="server"></i>
                                <i data-feather="clipboard"></i>
                            </span>
                            <span class="sidebar-nav-name">
                            Update + Knowledge Test
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-nav-item">
                        <a href="/dashboard/mytasks_kc/" class="sidebar-nav-link">
                            <span class="sidebar-nav-icon">
                                <i data-feather="clipboard"></i>
                            </span>
                            <span class="sidebar-nav-name">
                                Knowledge Test
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}

            <!-- Knowledge Test Evaluation -->
            {% if user.email == 'poc' or user.email == 'superuser' %}
            <li class="sidebar-nav-item">
                <a href="/dashboard/knowledge-check-evaluation/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="file-text"></i>
              </span>
                    <span class="sidebar-nav-name">
                Knowledge Test Evaluation
              </span>
                    <span class="sidebar-nav-end">
              </span>
                </a>
            </li>
            {% endif %}

            <!-- Divider Start -->
            <li class="sidebar-nav-item">
                <div class="dropdown-divider ml-5 mr-5 mt-2 mb-2"></div>
            </li>
            <!-- Divider End -->

            <!-- Updates Repository -->
            {% if user.email != 'agent' %}
            <li class="sidebar-nav-item">
                <a href="/dashboard/elixir/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="server"></i>
              </span>
                    <span class="sidebar-nav-name">
                Updates Repository
              </span>
                    <span class="sidebar-nav-end">
              </span>
                </a>
            </li>
            {% endif %}

            {% if user.email == 'poc' or user.email == 'superuser' %}
            <!-- Create New Update -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/create-new-update/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="edit"></i>
              </span>
                    <span class="sidebar-nav-name">
                Create new Update
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- All Update -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/all-update/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="align-justify"></i>
              </span>
                    <span class="sidebar-nav-name">
                All Update
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Sent Update -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/sent-update/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="chevrons-up"></i>
              </span>
                    <span class="sidebar-nav-name">
                Sent Update
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Pending Update -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/pending-update/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="alert-circle"></i>
              </span>
                    <span class="sidebar-nav-name">
                Pending Update
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Acknowledged Update -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/acknowledged-update/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="check-circle"></i>
              </span>
                    <span class="sidebar-nav-name">
                Acknowledged Update
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Divider Start-->
            <li class="sidebar-nav-item">
                <div class="dropdown-divider ml-5 mr-5 mt-2 mb-2"></div>
            </li>
            <!-- Divider End-->
            {% endif %}


            {% if user.email != 'agent' %}
            <!-- Knowledge Test Repository -->
            <li class="sidebar-nav-item">

                <a href="/dashboard/conquest/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="clipboard"></i>
              </span>
                    <span class="sidebar-nav-name">
                Knowledge Test Repository
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Question Bank -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/question_bank/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="briefcase"></i>
              </span>
                    <span class="sidebar-nav-name">
                Question Bank
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>
            {% endif %}

            {% if user.email == 'poc' or user.email == 'superuser' %}
            <!-- Knowledge Test Result -->
            <li class="sidebar-nav-item">

                <a href="/dashboard/conquest_response/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="book"></i>
              </span>
                    <span class="sidebar-nav-name">
                Knowledge Test Result
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Create Knowledge Test -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/create-knowledge-check/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="file-plus"></i>
              </span>
                    <span class="sidebar-nav-name">
                Create Knowledge Test
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Create a Question -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/create-a-question/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="edit-3"></i>
              </span>
                    <span class="sidebar-nav-name">
                Create a Question
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- All Knowledge Test -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/all-knowledge-check/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="copy"></i>
              </span>
                    <span class="sidebar-nav-name">
                        All Knowledge Test <br><span style="font-size : 10px"> ( w/o update ) </span>
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Sent Knowledge Test-->
            <li class="sidebar-nav-item">
                <a href="/dashboard/sent-knowledge-check/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="arrow-up-right"></i>
              </span>
                    <span class="sidebar-nav-name">
                Sent Knowledge Test <br><span style="font-size : 10px"> ( w/o update ) </span>
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Pending Knowledge Test -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/pending-knowledge-check/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="alert-triangle"></i>
              </span>
                    <span class="sidebar-nav-name">
                Pending Knowledge Test <br><span style="font-size : 10px"> ( w/o update ) </span>
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Completed Knowledge Test -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/completed-knowledge-check/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="check-square"></i>
              </span>
                    <span class="sidebar-nav-name">
                Completed Knowledge Test <br><span style="font-size : 10px"> ( w/o update ) </span>
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Divider Start-->
            <li class="sidebar-nav-item">
                <div class="dropdown-divider ml-5 mr-5 mt-2 mb-2"></div>
            </li>
            <!-- Divider End-->
            {% endif %}

            {% if user.email == 'poc' or user.email == 'superuser' %}
            <!-- Update Source -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/update_source_type/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="cpu"></i>
              </span>
                    <span class="sidebar-nav-name">
                Update Source
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Update Type -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/update_type/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="maximize-2"></i>
              </span>
                    <span class="sidebar-nav-name">
                Update Type
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Users -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/users/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="user"></i>
              </span>
                    <span class="sidebar-nav-name">
                Users
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Sub Process -->
            <li class="sidebar-nav-item">
                <a href="/dashboard/sub_process/" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="users"></i>
              </span>
                    <span class="sidebar-nav-name">
                Sub Process
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Divider Start-->
            <li class="sidebar-nav-item">
                <div class="dropdown-divider ml-5 mr-5 mt-2 mb-2"></div>
            </li>


            <!-- Divider End-->
            {% endif %}

            {% if user.email == 'superuser' %}
            <!-- Add Accounts -->
            <li class="sidebar-nav-item">
                <a href="{% url 'listAccount' %}" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="package"></i>
              </span>
                    <span class="sidebar-nav-name">
                Add Accounts
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Add Projects -->
            <li class="sidebar-nav-item">
                <a href="{% url 'listProject' %}" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="layers"></i>
              </span>
                    <span class="sidebar-nav-name">
                Add Projects
              </span>
                    <span class="sidebar-nav-end"></span>
                </a>
            </li>

            <!-- Create Admin -->
            <li class="sidebar-nav-item">
                <a href="{% url 'listAdmin' %}" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="award"></i>
              </span>
                    <span class="sidebar-nav-name">
                Create Admin
              </span>
                    <span class="sidebar-nav-end">
              </span>
                </a>
            </li>

            <!-- Divider Start-->
            <li class="sidebar-nav-item">
                <div class="dropdown-divider ml-5 mr-5 mt-2 mb-5"></div>
            </li>
            <!-- Divider End-->
            {% endif %}

        </ul>
    </div>
    <!-- Sidebar End -->

    <!-- Main-content-aside -->
    <div class="main-content">

        <input type="hidden" id="user_username" value={{user.username}}>

        {% if user.email == 'agent' or user.email == 'superuser' %}

        <div class="main-aside">

            <div class="col-lg-12 pl-2 pr-2 pt-2 mb-2">
                <h6 style="font-weight: 600; font-size: 12px">Pick Date Range</h6>
                <div class="form-group">
                    <input id="pick_date" class="form-control mb-2 date-default" type="text"
                           placeholder="Select Date Range" autocomplete="off">
                </div>
            </div>

            <div class="dropdown-divider"></div>

            <div id="conquest_list">
                {% for kc in conquest_details %}
                <div class="aside-link" data-value="{{ kc.id }}" onclick="show_details(this)">

                    <div class="col">
                        <div class="row">
                            <div class="col-lg-4">
                                {% if kc.timestamp|slice:"3:5" == "01" %}
                                <span style="font-size:50%; font-weight: 600">January</span>
                                {% elif kc.timestamp|slice:"3:5" == "02" %}
                                <span style="font-size:50%; font-weight: 600">February</span>
                                {% elif kc.timestamp|slice:"3:5" == "03" %}
                                <span style="font-size:50%; font-weight: 600">March</span>
                                {% elif kc.timestamp|slice:"3:5" == "04" %}
                                <span style="font-size:50%; font-weight: 600">April</span>
                                {% elif kc.timestamp|slice:"3:5" == "05" %}
                                <span style="font-size:50%; font-weight: 600">May</span>
                                {% elif kc.timestamp|slice:"3:5" == "06" %}
                                <span style="font-size:50%; font-weight: 600">June</span>
                                {% elif kc.timestamp|slice:"3:5" == "07" %}
                                <span style="font-size:50%; font-weight: 600">July</span>
                                {% elif kc.timestamp|slice:"3:5" == "08" %}
                                <span style="font-size:50%; font-weight: 600">August</span>
                                {% elif kc.timestamp|slice:"3:5" == "09" %}
                                <span style="font-size:50%; font-weight: 600">September</span>
                                {% elif kc.timestamp|slice:"3:5" == "10" %}
                                <span style="font-size:50%; font-weight: 600">October</span>
                                {% elif kc.timestamp|slice:"3:5" == "11" %}
                                <span style="font-size:50%; font-weight: 600">November</span>
                                {% else %}
                                <span style="font-size:50%; font-weight: 600">December</span>
                                {% endif %}
                            </div>
                            <div class="col-lg-8">
                                <span style="font-size:50%; font-weight: 600">Knowledge Test {{ forloop.counter }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <span style="font-size:55%">Status</span>
                            </div>
                            <div class="col-lg-8">
                                {% for att in conquest_attempts %}
                                {% if att.conquest_id|add:"0" == kc.id %}
                                {% if att.attempts == "0" %}
                                <span style="font-size:55%; color: red">Pending</span>
                                {% else %}
                                <span style="font-size:55%; color: green">Acknowledged</span>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="dropdown-divider"></div>

                </div>
                {% endfor %}
            </div>

        </div>

        {% endif %}

        <div class="main-main-content">

            <div id="loading">
                <img src="{% static 'images/4105180.gif' %}" class="ajax-loader"/>
            </div>

            <div class="container-fluid">

                {% if user.email == 'agent' or user.email == 'superuser' %}

                <div class="row">

                    <div class="col-lg-2"></div>

                    <div class="col-lg-10">

                        <div class="row mb-2 ml-1 mr-1 p-2" id="kc_deadline_text"
                             style="background-color: #FFFDE7; border-radius: .2rem; align-content: center; display: none">
                            <div class="col-lg-12 pt-2 pb-1">
                                <h1 style="font-size:24px; font-weight:600">Knowledge Test Expired</h1>
                                <h1 style="font-size:16px; font-weight:600">Your test submission deadline is
                                    passed, Please contact the sender of this Update</h1>
                            </div>
                        </div>

                        <div class="row mb-2 ml-1 mr-1 p-2" id="max_attempt_text"
                             style="background-color: #ECEFF1; border-radius: .2rem; align-content: center; display: none">
                            <div class="col-lg-12 pt-2 pb-1">
                                <h1 style="font-size:24px; font-weight:600">0 Attempts Left</h1>
                                <h1 style="font-size:16px; font-weight:600">You have reached your maximum Knowledge
                                    test attempt limit, Please contact the sender of this Update</h1>
                            </div>
                        </div>

                        <div class="ml-3 mr-3">
                            <div class="row pt-2" style="background-color:#E8F5E9">

                                <div class="task-head col-lg-1" style="text-align: left">
                                    <h6 style="font-size:11px; font-weight: 600">Knowledge Test ID</h6>
                                </div>
                                <div class="task-head col-lg-1" style="text-align: right">
                                    <h6 style="font-size:11px; font-weight: 600">:</h6>
                                </div>

                                <div class="task-head col-lg-3" style="text-align: left">
                                    <h6 id="kc_id" style="font-size:12px; font-weight: 600"></h6>
                                </div>

                                <div class="task-head col-lg-2"></div>

                                <div class="task-head col-lg-1" style="text-align: left">
                                    <h6 style="font-size:11px; font-weight: 600">Questions Count</h6>
                                </div>
                                <div class="task-head col-lg-1" style="text-align: right">
                                    <h6 style="font-size:11px; font-weight: 600">:</h6>
                                </div>

                                <div class="task-head col-lg-3" style="text-align: left">
                                    <h6 id="q_count" style="font-size:12px; font-weight: 600"></h6>
                                </div>

                            </div>

                            <div class="row pt-2" style="background-color:#F1F8E9">

                                <div class="task-head col-lg-1" style="text-align: left">
                                    <h6 style="font-size:11px; font-weight: 600">Sender</h6>
                                </div>
                                <div class="task-head col-lg-1" style="text-align: right">
                                    <h6 style="font-size:11px; font-weight: 600">:</h6>
                                </div>

                                <div class="task-head col-lg-3" style="text-align: left">
                                    <h6 id="kc_sender" style="font-size:11px; font-weight: 600"></h6>
                                </div>

                                <div class="task-head col-lg-2"></div>

                                <div class="task-head col-lg-1" style="text-align: left">
                                    <h6 style="font-size:11px; font-weight: 600">Sub Process</h6>
                                </div>
                                <div class="task-head col-lg-1" style="text-align: right">
                                    <h6 style="font-size:11px; font-weight: 600">:</h6>
                                </div>

                                <div class="task-head col-lg-3" style="text-align: left">
                                    <h6 id="kc_sbprocess" style="font-size:12px; font-weight: 600"></h6>
                                </div>

                            </div>

                            <div class="row pt-2" style="background-color:#F9FBE7">

                                <div class="task-head col-lg-1" style="text-align: left">
                                    <h6 style="font-size:11px; font-weight: 600">Initiated On</h6>
                                </div>
                                <div class="task-head col-lg-1" style="text-align: right">
                                    <h6 style="font-size:11px; font-weight: 600">:</h6>
                                </div>

                                <div class="task-head col-lg-3" style="text-align: left">
                                    <h6 id="kc_timestamp" style="font-size:12px; font-weight: 600"></h6>
                                </div>

                                <div class="task-head col-lg-2"></div>

                                <div class="task-head col-lg-1" style="text-align: left">
                                    <h6 style="font-size:11px; font-weight: 600">Acknowledge Before</h6>
                                </div>
                                <div class="task-head col-lg-1" style="text-align: right">
                                    <h6 style="font-size:11px; font-weight: 600">:</h6>
                                </div>

                                <div class="task-head col-lg-3" style="text-align: left">
                                    <h6 id="kc_lastdate" style="font-size:12px; font-weight: 600"></h6>
                                </div>

                            </div>

                            <div class="row pt-2" style="background-color:#FFFDE7">

                                <div class="task-head col-lg-1" style="text-align: left">
                                    <h6 style="font-size:11px; font-weight: 600">Passing Score</h6>
                                </div>
                                <div class="task-head col-lg-1" style="text-align: right">
                                    <h6 style="font-size:11px; font-weight: 600">:</h6>
                                </div>

                                <div class="task-head col-lg-3" style="text-align: left">
                                    <h6 id="kc_pass_score" style="font-size:12px; font-weight: 600"></h6>
                                </div>

                                <div class="task-head col-lg-2"></div>

                                <div class="task-head col-lg-1" style="text-align: left">
                                    <h6 style="font-size:11px; font-weight: 600">Your Score</h6>
                                </div>
                                <div class="task-head col-lg-1" style="text-align: right">
                                    <h6 style="font-size:11px; font-weight: 600">:</h6>
                                </div>

                                <div class="task-head col-lg-3" style="text-align: left">
                                    <h6 id="kc_score" style="font-size:12px; font-weight: 600"></h6>
                                </div>

                            </div>
                        </div>

                        <div id="pkt">

                        </div>

                        <div class="row mb-5 mt-3" id="ack_btn" style="align-content: center">
                            <div class="col-lg-12" align="center">
                                <a href="#" id="submit_kc" class="btn btn-sm btn-labeled-center btn-primary pl-5 pr-5">
                                    <span class="btn-text">Submit</span>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

                {% else %}

                <div class="row mb-2 mt-1">

                    <div class="col">
                        <h6 style="font-weight:600">**YOU ARE NOT AUTHORIZED TO ACCESS THIS WEB PAGE AS PER THE DOT
                            COMPLIANCE**</h6>
                    </div>

                </div>

                {% endif %}

            </div>

        </div>

    </div>

</div>

<!-- If you prefer jQuery these are the required scripts -->
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'ckeditor/ckeditor/adapters/jquery.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<script>

    flatpickr(".date-default", {
        allowInput: true,
        dateFormat: "d-m-Y",
        mode: "range",
        maxDate: "today",
    });

    CKEDITOR.config.readOnly = true;

    function show_details(e) {

        document.getElementById('conquest_list').querySelectorAll('div[data-value]')
            .forEach((e) => {
				e.removeAttribute("class");
				e.setAttribute("class", "aside-link");
            });

        e.setAttribute("class", "aside-link active");

        id = e.getAttribute("data-value");

        $('#kc_id').text("");
        $('#kc_pass_score').text("");
        $('#kc_sender').text("");
        $('#kc_sbprocess').text("");
        $('#kc_timestamp').text("");
        $('#kc_lastdate').text("");
        $('#q_count').text("");
        $('#kc_score').text("");
        $('#pkt').hide();
        $('#submit_kc').hide();
        document.getElementById("kc_deadline_text").style.display = "none";
        document.getElementById("max_attempt_text").style.display = "none";

        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{% url 'kc_data' %}",
            data: {
                id: id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (dataset) {
                data = dataset['conquest_details'];
                user_kc_score = dataset['conquest_user_score'];

                $('#kc_id').text(data[0].id);
                $('#kc_pass_score').text(data[0].passing_score);
                $('#kc_sender').text(data[0].sender);
                $('#kc_sbprocess').text(data[0].sub_process);
                $('#kc_timestamp').text(data[0].timestamp);
                $('#kc_lastdate').text(data[0].deadline);
                $('#q_count').text(data[0].questions_count);
                $('#kc_score').text(user_kc_score[0].score);
                var deadline_check = futureDateTime(toJSDate(data[0].deadline));

                document.getElementById('pkt').innerHTML = "";
                create_question_div(dataset);

                max_attempts = parseInt(dataset['conquest_details'][0].max_attempts);
                user_attempts = parseInt(dataset['conquest_user_score'][0].attempts);

                if (parseFloat(dataset['conquest_user_score'][0].score) < parseFloat(dataset['conquest_details'][0].passing_score) &&
                    user_attempts < parseInt(dataset['conquest_details'][0].max_attempts) &&
                    deadline_check == true && dataset['conquest_user_score'][0].status != "pending") {
                    $('#pkt').show();
                    $('#submit_kc').show();
                } else {
                    $('#pkt').hide();
                    $('#submit_kc').hide();
                }

                if (parseFloat(dataset['conquest_user_score'][0].score) < parseFloat(dataset['conquest_details'][0].passing_score)) {
                    if (deadline_check == true) {
                        document.getElementById("kc_deadline_text").style.display = "none";

                    } else {
                        document.getElementById("kc_deadline_text").style.display = "block";

                    }

                    if (max_attempts == user_attempts) {
                        document.getElementById("max_attempt_text").style.display = "block";
                    } else {
                        document.getElementById("max_attempt_text").style.display = "none";
                    }
                }

                $('#loading').hide();
            }
        });
    }

    $('#submit_kc').on('click', function () {

        var conquest_id = $('#kc_id').text();
        sender = document.getElementById('kc_sender').innerText;

        if (conquest_id == "") {
            alert("Please Select the Knowledge Test from the list");
        } else {

            check = 0;
            var ans = [];

            q_count = document.getElementById('q_count').innerText;

            for (var c = 0; c < q_count; c++) {
                q_ans = [];
                f_count = 0;
                op_count = 0;

                q_type = document.querySelectorAll('#pkt > div')[c].getAttribute("ques_type");

                if(q_type == "obj")
                    {
                        document.querySelectorAll('#pkt > div')[c]
                            .querySelectorAll('[op_tag] span input[type=radio]')
                            .forEach((e, i) => {
                                op_count = op_count + 1;
                                if (e.checked == true) {
                                    q_ans.push(i + 1);
                                } else {
                                    f_count = f_count + 1;
                                }
                            });
                    }
                else
                    {
                        document.querySelectorAll('#pkt > div')[c]
                        .querySelectorAll('[op_tag] span textarea')
                        .forEach((e, i) => {
                            if (e.value == "") {
                                alert("Please provide answers to all questions");
                                return;
                            } else {
                                q_ans.push(e.value);
                            }
                        });
                    }

                q_id = document.querySelectorAll('#pkt > div')[c].getAttribute("ques_id");
                q_type = document.querySelectorAll('#pkt > div')[c].querySelectorAll('div.ml-3')[1].innerText.substring(16);
                q_marks = document.querySelectorAll('#pkt > div')[c].querySelectorAll('div.ml-3')[2].innerText.substring(17);

                var object = {};
                object['question_id'] = q_id;
                object['question_answer'] = q_ans;
                object['question_type'] = q_type;
                object['question_marks'] = q_marks;

                ans.push(object);

                if (op_count!=0 && f_count == op_count) {
                    check = 1;
                    alert("Please provide answers to all questions");
                    return;
                }
            }

            if (check == 0) {
                $('#loading').show();
                $.ajax({
                    type: "POST",
                    url: "{% url 'save_user_kc_data' %}",
                    data: {
                        conquest_id: conquest_id,
                        sender: sender,
                        answers: JSON.stringify(ans),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        alert('Knowledge Test is successfully submitted, Thank You!!');
                        window.location = "";
                        $('#loading').hide();
                    }
                });
            }
        }
    });

    $('#pick_date').change(function () {
        if ($('#pick_date').val().length == 24) {
            $('#conquest_list').empty();
            var startdate = $('#pick_date').val().substring(0, 10);
            var enddate = $('#pick_date').val().substring(14, 24);

            $('#kc_id').text("");
            $('#kc_pass_score').text("");
            $('#kc_sender').text("");
            $('#kc_sbprocess').text("");
            $('#kc_timestamp').text("");
            $('#kc_lastdate').text("");
            $('#q_count').text("");
            $('#kc_score').text("");
            $('#pkt').hide();
            $('#submit_kc').hide();
            document.getElementById("kc_deadline_text").style.display = "none";
            document.getElementById("max_attempt_text").style.display = "none";

            $('#loading').show();
            $.ajax({
                type: "POST",
                url: "{% url 'mytask_kc_date_filter' %}",
                data: {
                    start_date: startdate,
                    end_date: enddate,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    if (data['conquest_details']) {
                        kc_details = data['conquest_details'];

                        for (var i = 0; i < kc_details.length; i++) {
                            user_kc_attempts = data['conquest_user_details'][i].attempts;

                            month = "";
                            if ((kc_details[i].timestamp).substring(3, 5) == "01") {
                                month = "January";
                            } else if ((kc_details[i].timestamp).substring(3, 5) == "02") {
                                month = "February";
                            } else if ((kc_details[i].timestamp).substring(3, 5) == "03") {
                                month = "March";
                            } else if ((kc_details[i].timestamp).substring(3, 5) == "04") {
                                month = "April";
                            } else if ((kc_details[i].timestamp).substring(3, 5) == "05") {
                                month = "May";
                            } else if ((kc_details[i].timestamp).substring(3, 5) == "06") {
                                month = "June";
                            } else if ((kc_details[i].timestamp).substring(3, 5) == "07") {
                                month = "July";
                            } else if ((kc_details[i].timestamp).substring(3, 5) == "08") {
                                month = "August";
                            } else if ((kc_details[i].timestamp).substring(3, 5) == "09") {
                                month = "September";
                            } else if ((kc_details[i].timestamp).substring(3, 5) == "10") {
                                month = "October";
                            } else if ((kc_details[i].timestamp).substring(3, 5) == "11") {
                                month = "November";
                            } else {
                                month = "December";
                            }

                            var card_div = document.createElement('div');
                            card_div.setAttribute("class", "aside-link");
                            card_div.setAttribute("data-value", kc_details[i].id);
                            card_div.setAttribute("onclick", "show_details(this)");

                            var div_col = document.createElement('div');
                            div_col.setAttribute("class", "col");
                            card_div.appendChild(div_col)

                            var div_row = document.createElement('div');
                            div_row.setAttribute("class", "row");
                            div_col.appendChild(div_row);

                            var div_col1 = document.createElement('div');
                            div_col1.setAttribute("class", "col-lg-4");
                            div_row.appendChild(div_col1);

                            var span_month = document.createElement('span');
                            span_month.setAttribute("style", "font-size:50%; font-weight: 600");
                            span_month.innerHTML = month;
                            div_col1.appendChild(span_month);

                            var div_col2 = document.createElement('div');
                            div_col2.setAttribute("class", "col-lg-8");
                            div_row.appendChild(div_col2);

                            var span_up_count = document.createElement('span');
                            span_up_count.setAttribute("style", "font-size:50%; font-weight: 600");
                            span_up_count.innerHTML = "Knowledge Test " + (i + 1);
                            div_col2.appendChild(span_up_count);

                            var div_row2 = document.createElement('div');
                            div_row2.setAttribute("class", "row");
                            div_col.appendChild(div_row2);

                            var div_row3 = document.createElement('div');
                            div_row3.setAttribute("class", "row");
                            div_col.appendChild(div_row3);

                            var div_col4 = document.createElement('div');
                            div_col4.setAttribute("class", "col-lg-4");
                            div_row3.appendChild(div_col4);

                            var span_status = document.createElement('span');
                            span_status.setAttribute("style", "font-size:50%; font-weight: 600");
                            span_status.innerHTML = "Status";
                            div_col4.appendChild(span_status);

                            var div_col5 = document.createElement('div');
                            div_col5.setAttribute("class", "col-lg-8");
                            div_row3.appendChild(div_col5);
                            var span_status_tag = document.createElement('span');

                            if (user_kc_attempts == "0") {
                                span_status_tag.setAttribute("style", "font-size:50%; color: red");
                                span_status_tag.innerHTML = "Pending";
                            } else {
                                span_status_tag.setAttribute("style", "font-size:50%; color: green");
                                span_status_tag.innerHTML = "Completed";
                            }

                            div_col5.appendChild(span_status_tag);

                            var div_divider = document.createElement('div');
                            div_divider.setAttribute("class", "dropdown-divider");
                            card_div.appendChild(div_divider);

                            document.getElementById('conquest_list').appendChild(card_div);

                        }
                    }
                    $('#loading').hide();

                }
            });
        }
    });

    function hide_message() {
        $('#pkt').hide();
        $('#submit_kc').hide();
        document.getElementById("kc_deadline_text").style.display = "none";
        document.getElementById("max_attempt_text").style.display = "none";
    }

    function create_question_div(dataset) {
        ques_details = dataset['question_details'];
        options_list = dataset['question_op_list'];

        for (var a = 0; a < ques_details.length; a++) {
            var main_div = document.createElement('div');
            main_div.setAttribute("class", "row ml-2 mr-2 mt-2 mb-4");
            main_div.setAttribute("ques_id", +ques_details[a].id);
            main_div.setAttribute("style", "background-image: linear-gradient(to top, #eef1f5, #e6e9f0, #eef1f5); border-radius: .25rem");
            if(ques_details[a].type == "Subjective")
                {
                    main_div.setAttribute("ques_type", "subj");
                }
            else
                {
                    main_div.setAttribute("ques_type", "obj");
                }

            var col_question_details = document.createElement('div');
            main_div.appendChild(col_question_details);
            col_question_details.setAttribute("class", "col-lg-12 mt-2");

            var col_ques_grid = document.createElement('div');
            col_question_details.appendChild(col_ques_grid);
            col_ques_grid.setAttribute("class", "card mb-grid");
            col_ques_grid.setAttribute("style", "border-radius: .25rem");

            var col_ques_header = document.createElement('div');
            col_ques_grid.appendChild(col_ques_header);
            col_ques_header.setAttribute("class", "card-header");
            col_ques_header.setAttribute("style", "color: #ffffff");
            col_ques_header.setAttribute("style", "background-color: #fdfcfb; border-radius: .25rem");

            var col_ques_no = document.createElement('div');
            col_ques_header.appendChild(col_ques_no);
            col_ques_no.setAttribute("class", "ml-3");
            col_ques_no.setAttribute("style", "font-size:13px; font-weight:600");
            col_ques_no.innerHTML = "Question No : " + (a + 1);

            var col_ques_type = document.createElement('div');
            col_ques_header.appendChild(col_ques_type);
            col_ques_type.setAttribute("class", "ml-3");
            col_ques_type.setAttribute("style", "font-size:13px; font-weight:600");
            col_ques_type.innerHTML = "Question Type : " + ques_details[a].type;

            var col_ques_marks = document.createElement('div');
            col_ques_header.appendChild(col_ques_marks);
            col_ques_marks.setAttribute("class", "ml-3");
            col_ques_marks.setAttribute("style", "font-size:13px; font-weight:600");
            col_ques_marks.innerHTML = "Question Marks : " + ques_details[a].marks;

            if(ques_details[a].media_type == "Audio")
            {
                var audio_player = document.createElement('audio');
                col_ques_header.appendChild(audio_player);
                audio_player.controls = true;
                audio_player.setAttribute("controlsList", "nodownload");

                    var audio_source1 = document.createElement('source');
                    audio_player.appendChild(audio_source1);
                    audio_source1.setAttribute("src", ques_details[a].media_url);
                    audio_source1.setAttribute("type", "audio/ogg");

                    var audio_source2 = document.createElement('source');
                    audio_player.appendChild(audio_source2);
                    audio_source2.setAttribute("src", ques_details[a].media_url);
                    audio_source2.setAttribute("type", "audio/mp3");

                    var audio_source3 = document.createElement('source');
                    audio_player.appendChild(audio_source3);
                    audio_source3.setAttribute("src", ques_details[a].media_url);
                    audio_source3.setAttribute("type", "audio/ogg");

            }
            else
            {
                if(ques_details[a].media_type != "No Media")
                {
                    var download_a_tag = document.createElement('a');
                    col_ques_header.appendChild(download_a_tag);
                    download_a_tag.setAttribute("href", ques_details[a].media_url);
                    download_a_tag.setAttribute("class", "ml-3");
                    download_a_tag.download = ques_details[a].media_type + "_" + ques_details[a].type ;

                        var download_button = document.createElement('button');
                        download_a_tag.appendChild(download_button);
                        download_button.setAttribute("class","btn btn-sm btn-labeled btn-dark");

                            var download_span = document.createElement('span');
                            download_button.appendChild(download_span);
                            download_span.setAttribute("class", "btn-label");

                                var download_span_img = document.createElement('span');
                                download_span.appendChild(download_span_img)
                                download_span_img.setAttribute("class", "oi oi-cloud-download" );
                                download_span_img.setAttribute("aria-hidden", "true");

                            var download_span_text = document.createElement('span');
                            download_button.appendChild(download_span_text);
                            download_span_text.setAttribute("class", "btn-text");
                            download_span_text.innerHTML = "Download "+ques_details[a].media_type;
                }
            }

            var form_1_div_editor = document.createElement('div');
            col_ques_header.appendChild(form_1_div_editor);
            form_1_div_editor.setAttribute("class", "col-lg-12 mt-1");
            form_1_div_editor.setAttribute("itemtype", "editor_col");
            var editor = document.createElement('textarea');
            form_1_div_editor.append(editor);
            $(editor).val(ques_details[a].question).ckeditor({
                customConfig: 'custom_toolbar/config.js',
            });

            var col_ques_body = document.createElement('div');
            col_ques_grid.appendChild(col_ques_body);
            col_ques_body.setAttribute("class", "card-body")

            var col_ques_body_row = document.createElement('div');
            col_ques_body.appendChild(col_ques_body_row);
            col_ques_body_row.setAttribute("class", "row");

            var col_ques_body_col = document.createElement('div');
            col_ques_body_row.appendChild(col_ques_body_col);
            col_ques_body_col.setAttribute("class", "col-lg-12");
            col_ques_body_col.setAttribute("op_tag", "q_option");

            for (var b = 0; b < options_list.length; b++) {
                if (ques_details[a].id == options_list[b].question_id) {
                    var col_ques_option = document.createElement('div');
                    col_ques_body_col.appendChild(col_ques_option);
                    col_ques_option.setAttribute("class", "form-check")

                    var span_option = document.createElement('span');
                    col_ques_option.appendChild(span_option);

                    if(ques_details[a].type != "Subjective")
                        {
                            var input_option = document.createElement('input');
                            span_option.appendChild(input_option);
                            input_option.setAttribute("class", "form-check-input");
                            input_option.setAttribute("type", "radio");
                            if (ques_details[a].type == "MAQs") {
                                input_option.setAttribute("name", "ques" + b);
                            } else {
                                input_option.setAttribute("name", "question" + a);
                            }
                            var label = document.createElement('label');
                            label.innerHTML = options_list[b].question_option;
                            span_option.appendChild(label);
                        }
                    else
                        {
                            q_subj_div_form_div = document.createElement('div');
                            span_option.appendChild(q_subj_div_form_div);
                            q_subj_div_form_div.setAttribute("class", "form-group");
                            q_subj_div_form_div.setAttribute("align", "left");

                                q_subj_div_form_div_label1 = document.createElement('label');
                                q_subj_div_form_div.appendChild(q_subj_div_form_div_label1);
                                q_subj_div_form_div_label1.setAttribute("for", "subjective_answer");
                                q_subj_div_form_div_label1.setAttribute("style", "font-size:12px; font-weight:600");
                                q_subj_div_form_div_label1.innerHTML = "Answer";

                                q_subj_div_form_div_textarea = document.createElement('textarea');
                                q_subj_div_form_div.appendChild(q_subj_div_form_div_textarea);
                                q_subj_div_form_div_textarea.setAttribute("class", "form-control");
                                q_subj_div_form_div_textarea.setAttribute("id", "subjective_answer");
                                q_subj_div_form_div_textarea.setAttribute("maxlength", "750");
                                q_subj_div_form_div_textarea.setAttribute("rows", "4");

                                q_subj_div_form_div_label2 = document.createElement('label');
                                q_subj_div_form_div.appendChild(q_subj_div_form_div_label2);
                                q_subj_div_form_div_label2.setAttribute("id", "count");
                                q_subj_div_form_div_label2.setAttribute("style", "font-size:12px");

                                $(q_subj_div_form_div_textarea).keyup(function(){
                                    count_text = this.parentElement.querySelectorAll('label')[1];
                                    count = (750 - $(this).val().length) + " characters remaining";
                                    count_text.innerText = count;
                                });
                        }
                }
            }

            document.getElementById('pkt').appendChild(main_div);
        }
    }

    function toJSDate( dateTime ) {

        var dateTime = dateTime.split(" ");//dateTime[0] = date, dateTime[1] = time

        var date = dateTime[0].split("-");
        var time = dateTime[1].split(":");

        //(year, month, day, hours, minutes, seconds, milliseconds)
        //subtract 1 from month because Jan is 0 and Dec is 11
        return new Date(date[2], (date[1]-1), date[0], time[0], time[1], 0, 0);
    }

    function futureDateTime( dateTime ) {
        var now = new Date();
        var future = false;
        if( Date.parse(now) < Date.parse(dateTime) ) {
            future = true;
        }
        return future;
    }

    function hideLoader() {
        $('#loading').hide();
    }

    $(window).ready(hideLoader);



</script>

</body>
</html>